@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.content {
    flex: 1 0 auto;
}

.logo {
    width: 7rem;
}

.header {
    margin-bottom: 20%;
}

h1 {
    font-weight: unset;
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.mobile-menu > * { 
    display: none;
}

.menu {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ccc;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.flex-grid {
    display: flex;
    /* justify-content: space-around */
}

.col {
    flex: 1;
    text-align: center;
    justify-content: center;
    /* border: solid 1px red; */
}


.col>img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 1000ms cubic-bezier(.33, 0, .2, 1);
}

img:hover {
    opacity: 0.15;
}

.client {
    font-size: 1.8rem;
}

.clients-section, .comp-section{
    margin-top: 5rem;
    border-top: solid black 2px;
}

.clients-section>p {
    margin-bottom: 3rem;
}

.clients-section>ul>li {
    text-align: center;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.img-wrap {
    position: relative;
}

.img-wrap .img-description {
    transition: visibility 1000ms cubic-bezier(.33, 0, .2, 1), opacity 1000ms cubic-bezier(.33, 0, .2, 1);;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-wrap .img-description h2 {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
}

.img-wrap:hover img {
    opacity: 0.15;
}


.footer {
    border: solid 2px #1A1D20;
    color: black;
    padding: 10px;
    padding-left: 0px;
    flex-shrink: 0;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 4rem;
}

.heart {
    color: #e25555;
}

@media (max-width: 600px) {
    body {
        padding: 0px;
    }

    .flex-grid {
        display: block;
    }

    .col {
        width: 100%
    }

    .col-lg {
        width: 100%;
    }

    .clients-section>ul>li {
        text-align: left;
        float: none;
        margin-left: 20px;
    }

    .mobile-menu {
        margin-top: 50px;
        display: flex;
    }

    .mobile-menu > * { 
        display: block;
    }

    .menu {
        display: none;
    }

    .mcol {
        flex: 1;
        text-align: center;
        justify-content: center;
    }

    .mcol > a {
        font-size: 1.5rem;
    }
}